@font-face {
  font-family: 'FuturaStd-Bold';
  src: url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Bold.eot');
  src: url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Bold.woff2') format('woff2'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Bold.woff') format('woff'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Bold.ttf') format('truetype'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Book';
  src: url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Book.eot');
  src: url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Book.woff2') format('woff2'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Book.woff') format('woff'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Book.ttf') format('truetype'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg'),
       url('https://s3.amazonaws.com/syncspot-test/fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$brand-color: #d9c76b;
$brand-color-secondary: #322312;
$grey: #f7f7f7;

body {
	background: $brand-color-secondary;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

img {
	margin-bottom: 2rem;
}

h1, h2, h3 ,p {
	font-family: FuturaStd-Book;
	color: $brand-color;
		margin: 0.2rem 1rem;
}

h3 {
	font-size: 1.2rem;
}


h2 {
	font-size: 1.6rem;
}

h1 {
	font-size: 3rem;
}

.header {
	img {
		width: 60vmin;
	}
}

.footer {
	img {
		width: 6vmin;
	}
}


.breakline{
	background-color: $brand-color;
	width:100%;
	height: 1vh;
	margin-bottom: 1.5rem;
}
